<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load static %}

<html lang="en">

{% block title %}
Add post
{% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    <p>Заголовок: {{ form.head_adv }}</p>
    <p>Категория: {{ form.category_name }}</p>
    <p>Текст</p>
    {% autoescape off %}
    <p>{{ form.text_adv }}</p>
    {% endautoescape %}
    <input type="submit" value="Добавить обьявление">

    <hr class="my-4" />
</form>
{% endblock content %}