<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load static %}
<html lang="en">

<body>

{% block title %}
Добавить пост
{% endblock title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <br>Заголовок: {{ form.head_adv }}
    <br>Категория: {{ form.category_name }}
    <br>файл для обложки: {{ form.content }}
    Текст:

    <br>{{ form.text_adv }}

    <button type="submit">Опубликовать</button>
    <hr class="my-4" />
</form>

{% endblock content %}
</body>