<!DOCTYPE html>
<html>
    <head>
        <title> Simple SignUp/SignIn app</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Simple SignUp/SignIn app</a></h1>
        </div>
{% block content %}
<h2>Личный кабинет пользователя {{request.user.username}}</h2>

        {{request.user.id}}


<div> Ваши объявления </div>
        {{useradvs}}


        {% for n in personal_adv %}
        {{ n.id}}

        {% if n.author == request.user %}
        <br>{{n.text_adv}} <br>

        {% for a in n.reply.all %}
        {{ a.text_reply}}
         <a href="/reply/accept/{{ reply.id }}" style="font-size: 12px; color:green"><b>принять</b></a>
        {%endfor%}

        {% endif %}
        {% endfor %}

<br>
        <div> Отклики на ваши объявления.
            Если вы хотите, чтобы отклик был виден, прдтвердите это: </div>


<button> <a href="sign/logout/">Выйти</a> </button>
{% endblock %}
    </body>
</html>
